
  <footer>
    <hr>
      <div  class="nav">
        <ul>
            <li class="nav-item"><a href="/" >Home</a> |</li>
            <li class="nav-item"><a href="/pulseCheck" >Enter PulseCheck</a> |</li>              
            <li class="nav-item"><a href="/feed" >MoD Pulse Check Feed</a> |</li> 
            <li class="nav-item"><a href="/logout" >Logout</a></li>
            <p>&copy; 2022 Copyright MoD Pulse Check 2.0 All rights reserved</p>
        </ul>
    </div>
  </footer>
  </html>
