
  <footer>
      <ul >
          <li class="nav-item"><a href="/" >Home</a></li>
          <li class="nav-item"><a href="/weights" >CHANGE ME</a></li>
          <li class="nav-item"><a href="/about" >MoD Pulse Check Feed -- UPDATE ROUTE</a></li> <!-- DONT FORGET TO UPDATE THE ROUTE HERE-->
          <li class="nav-item"><a href="/logout" >Logout</a></li>
          
      </ul>
      <p>&copy; 2022 Copyright MoD Pulse Check 2.0 All rights reserved</p>
  </footer>
  </html>
