<%- include('partials/head') %>
<%- include('partials/header') %>

<body>
    <h4> Departmental Updates</h4>

    <section class="parent">
        <div id="div1"> DATE </div>  <!-- first column -->
        <div id="div2">6:00 AM</div>  <!-- Pulse Check time-->
        <div id="div3">8:00 AM</div>  <!-- Pulse Check time-->
        <div id="div4">11:00 AM</div>  <!-- Pulse Check time-->
        <div id="div5">1:00 PM</div>  <!-- Pulse Check time-->
        <div id="div6">4:00 PM</div>  <!-- Pulse Check time-->
        <div id="div7">7:00 PM</div>  <!-- Pulse Check time-->
        <div id="div8">10:00 PM</div>  <!-- Pulse Check time-->
        <div id="div9"></div>  <!-- first column -->
        <div id="div10">Target</div>  <!-- GREEN column -->
        <div id="div11">Actual</div>
        <div id="div12">Target</div>
        <div id="div13">Actual</div>
        <div id="div14">Target</div>
        <div id="div15">Actual</div>
        <div id="div16">Target</div>
        <div id="div17">Actual</div>
        <div id="div18">Target</div>
        <div id="div19">Actual</div>
        <div id="div20">Target</div>
        <div id="div21">Actual</div>
        <div id="div22">Target</div>
        <div id="div23">Actual</div>
        <div id="div24"> Dock </div>  <!-- first column -->
        <div id="div25"> </div>  <!-- GREEN column -->
        <div id="div26"> </div>
        <div id="div27"> </div>
        <div id="div28"> </div>
        <div id="div29"> </div>
        <div id="div30"> </div>
        <div id="div31"> </div>
        <div id="div32"> </div>
        <div id="div33"> </div>
        <div id="div34"> </div>
        <div id="div35"> </div>
        <div id="div36"> </div>
        <div id="div37"> </div>
        <div id="div38"> </div>
        <div id="div39"> Make & Pack </div>   <!-- first column -->  
        <div id="div40"></div>  <!-- GREEN column -->
        <div id="div41"> </div>
        <div id="div42"> </div>
        <div id="div43"> </div>
        <div id="div44"> </div>
        <div id="div45"> </div>
        <div id="div46"> </div>
        <div id="div47"> </div>
        <div id="div48"> </div>
        <div id="div49"> </div>
        <div id="div50"> </div>
        <div id="div51"> </div>
        <div id="div52"> </div>
        <div id="div53"> </div>
        <div id="div54"> Pick & Pack </div>   <!-- first column -->
        <div id="div55"> </div>  <!-- GREEN column -->
        <div id="div56"> </div>
        <div id="div57"> </div>
        <div id="div58"> </div>
        <div id="div59"> </div>
        <div id="div60"> </div>
        <div id="div61"> </div>
        <div id="div62"> </div>
        <div id="div63"> </div>
        <div id="div64"> </div>
        <div id="div65"> </div>
        <div id="div66"> </div>
        <div id="div67"> </div>
        <div id="div68"> </div>
        <div id="div69"> Wash & Pack </div>   <!-- first column -->
        <div id="div70"> </div>  <!-- GREEN column -->
        <div id="div71"> </div>
        <div id="div72"> </div>
        <div id="div73"> </div>
        <div id="div74"> </div>
        <div id="div75"> </div>
        <div id="div76"> </div>
        <div id="div77"> </div>
        <div id="div78"> </div>
        <div id="div79"> </div>
        <div id="div80"> </div>
        <div id="div81"> </div>
        <div id="div82"> </div>
        <div id="div83"> </div>
        <div id="div84"> Seal </div>  <!-- first column -->
        <div id="div85"> </div>  <!-- GREEN column -->
        <div id="div86"> </div>
        <div id="div87"> </div>
        <div id="div88"> </div>
        <div id="div89"> </div>
        <div id="div90"> </div>
        <div id="div91"> </div>
        <div id="div92"> </div>
        <div id="div93"> </div>
        <div id="div94"> </div>
        <div id="div95"> </div>
        <div id="div96"> </div>
        <div id="div97"> </div>
        <div id="div98"> </div>
        <div id="div99"> Transportation </div>  <!-- first column -->
        <div id="div100"> </div>  <!-- GREEN column -->
        <div id="div101"> </div>
        <div id="div102"> </div>
        <div id="div103"> </div>
        <div id="div104"> </div>
        <div id="div105"> </div>
        <div id="div106"> </div>
        <div id="div107"> </div>
        <div id="div108"> </div>
        <div id="div109"> </div>
        <div id="div110"> </div>
        <div id="div111"> </div>
        <div id="div112"> </div>
        <div id="div113"> </div>
    </section>

<h4>Check Points</h4>

    <section class="parent2">
        <div id="div1"> </div>
        <div id="div2"> </div>
        <div id="div3"> </div>
        <div id="div4"> </div>
        <div id="div5"> </div>
        <div id="div6"> </div>
        <div id="div7"> </div>
        <div id="div8"> </div>
        <div id="div9"> </div>
        <div id="div10"> </div>
        <div id="div11"> </div>
        <div id="div12"> </div>
        <div id="div13"> </div>
        <div id="div14"> </div>
        <div id="div15"> </div>
        <div id="div16"> </div>
        <div id="div17"> </div>
        <div id="div18"> </div>
        <div id="div19"> </div>
        <div id="div20"> </div>
        <div id="div21"> </div>
        <div id="div22"> </div>
        <div id="div23"> </div>
        <div id="div24"> </div>
        <div id="div25"> </div>
        <div id="div26"> </div>
        <div id="div27"> </div>
        <div id="div28"> </div>
        <div id="div29"> </div>
        <div id="div30"> </div>
        <div id="div31"> </div>
        <div id="div32"> </div>
        <div id="div33"> </div>
        <div id="div34"> </div>
        <div id="div35"> </div>
        <div id="div36"> </div>
        <div id="div37"> </div>
        <div id="div38"> </div>
        <div id="div39"> </div>
        <div id="div40"> </div>
        <div id="div41"> </div>
        <div id="div42"> </div>
        <div id="div43"> </div>
        <div id="div44"> </div>
        <div id="div45"> </div>
        <div id="div46"> </div>
        <div id="div47"> </div>
        <div id="div48"> </div>
        <div id="div49"> </div>
        <div id="div50"> </div>
        <div id="div51"> </div>
        <div id="div52"> </div>
        <div id="div53"> </div>
        <div id="div54"> </div>
        <div id="div55"> </div>
        <div id="div56"> </div>
        <div id="div57"> </div>
        <div id="div58"> </div>
        <div id="div59"> </div>
        <div id="div60"> </div>
        <div id="div61"> </div>
        <div id="div62"> </div>
        <div id="div63"> </div>
        <div id="div64"> </div>
        <div id="div65"> </div>
        <div id="div66"> </div>
        <div id="div67"> </div>
        <div id="div68"> </div>
        <div id="div69"> </div>
        <div id="div70"> </div>
        <div id="div71"> </div>
        <div id="div72"> </div>
        <div id="div73"> </div>
        <div id="div74"> </div>
        <div id="div75"> </div>
        <div id="div76"> </div>
        <div id="div77"> </div>
        <div id="div78"> </div>
        <div id="div79"> </div>
        <div id="div80"> </div>
        <div id="div81"> </div>
        <div id="div82"> </div>
        <div id="div83"> </div>
        <div id="div84"> </div>
        <div id="div85"> </div>
        <div id="div86"> </div>
        <div id="div87"> </div>
        <div id="div88"> </div>
        <div id="div89"> </div>
        <div id="div90"> </div>
        <div id="div91"> </div>
        <div id="div92"> </div>
        <div id="div93"> </div>
        <div id="div94"> </div>
        <div id="div95"> </div>
        <div id="div96"> </div>
        <div id="div97"> </div>
        <div id="div98"> </div>
        <div id="div99"> </div>
        <div id="div100"> </div>
        <div id="div101"> </div>
        <div id="div102"> </div>
        <div id="div103"> </div>
        <div id="div104"> </div>
        <div id="div105"> </div>
        <div id="div106"> </div>
        <div id="div107"> </div>
        <div id="div108"> </div>
        <div id="div109"> </div>
        <div id="div110"> </div>
        <div id="div111"> </div>
        <div id="div112"> </div>
        <div id="div113"> </div>
        <div id="div114"> </div>
        <div id="div115"> </div>
        <div id="div116"> </div>
        <div id="div117"> </div>
        <div id="div118"> </div>
        <div id="div119"> </div>
        <div id="div120"> </div>
        <div id="div121"> </div>
        <div id="div122"> </div>
        <div id="div123"> </div>
        <div id="div124"> </div>
        <div id="div125"> </div>
        <div id="div126"> </div>
        <div id="div127"> </div>
        <div id="div128"> </div>
        <div id="div129"> </div>
        <div id="div130"> </div>
        <div id="div131"> </div>
        <div id="div132"> </div>
        <div id="div133"> </div>
        <div id="div134"> </div>
        <div id="div135"> </div>
        <div id="div136"> </div>
        <div id="div137"> </div>
        <div id="div138"> </div>
        <div id="div139"> </div>
        <div id="div140"> </div>
        <div id="div141"> </div>
        <div id="div142"> </div>
        <div id="div143"> </div>
        <div id="div144"> </div>
        <div id="div145"> </div>
        <div id="div146"> </div>
        <div id="div147"> </div>
        <div id="div148"> </div>
        <div id="div149"> </div>
        <div id="div150"> </div>
        <div id="div151"> </div>
        <div id="div152"> </div>
        <div id="div153"> </div>
        <div id="div154"> </div>
        <div id="div155"> </div>
        <div id="div156"> </div>
        <div id="div157"> </div>
        <div id="div158"> </div>
        <div id="div159"> </div>
        <div id="div160"> </div>
        <div id="div161"> </div>
        <div id="div162"> </div>
        <div id="div163"> </div>
        <div id="div164"> </div>
        <div id="div165"> </div>
    </section>
        
        <h5>Attendance</h5>

        <section class="parent3">
            <div id="div401">AM Staffing</div> <!-- AM Staffing Header -->
            <div id="div402">PM Staffing</div> <!-- PM Staffing Header -->
            <div id="div403">Target</div>      <!-- Target -->
            <div id="div404">Actual</div>      <!-- Actual -->
            <div id="div405">Target</div>      <!-- Target -->
            <div id="div406">Actual</div>      <!-- Actual -->
            <div id="div407"> </div>
            <div id="div408"> </div>
            <div id="div409"> </div>
            <div id="div410"> </div>
            <div id="div411"> </div>
            <div id="div412"> </div>
            <div id="div413"> </div>
            <div id="div414"> </div>
            <div id="div415"> </div>
            <div id="div416"> </div>
            <div id="div417"> </div>
            <div id="div418"> </div>
            <div id="div419"> </div>
            <div id="div420"> </div>
            <div id="div421"> </div>
            <div id="div422"> </div>
            <div id="div423"> </div>
            <div id="div424"> </div>
            <div id="div425"> </div>
            <div id="div426"> </div>
            <div id="div427"> </div>
            <div id="div428"> </div>
            <div id="div429"> </div>
            <div id="div430"> </div>
        </section>
</body>

<%- include("partials/footer") %>