<%- include('partials/head') %>
<%- include('partials/header') %>

<body>
    <h4>Attendance</h4>

    <section id="attendance">
        <div id="div501" class="amShift">AM Staffing</div> <!-- AM Staffing Header -->
        <div id="div502" class="pmShift">PM Staffing</div> <!-- PM Staffing Header -->
        <div id="div503" class="target">Target</div>      <!-- Target -->
        <div id="div504" class="actual">Actual</div>      <!-- Actual -->
        <div id="div505" class="target">Target</div>      <!-- Target -->
        <div id="div506" class="actual">Actual</div>      <!-- Actual -->
        <div id="div507" class="col_green">20 / 20</div>  <!-- first column -->   <!-- GREEN column -->
        <div id="div508" class="col_white"> </div>
        <div id="div509" class="col_green">30 / 30</div>
        <div id="div510" class="col_white"> </div>
        <div id="div511" class="col_green">25 / 25</div>  <!-- first column -->   <!-- GREEN column -->
        <div id="div512" class="col_white"> </div>
        <div id="div513" class="col_green">32 / 32</div>
        <div id="div514" class="col_white"> </div>
        <div id="div515" class="col_green">34 / 34 </div>  <!-- first column -->   <!-- GREEN column -->
        <div id="div516" class="col_white"> </div>
        <div id="div517" class="col_green">14 / 14</div>
        <div id="div518" class="col_white"> </div>
        <div id="div519" class="col_green">10 / 10</div>  <!-- first column -->   <!-- GREEN column -->
        <div id="div520" class="col_white"> </div>
        <div id="div521" class="col_green">22 / 22</div>
        <div id="div522" class="col_white"> </div>
        <div id="div523" class="col_green">24 / 24</div>  <!-- first column -->   <!-- GREEN column -->
        <div id="div524" class="col_white"> </div>
        <div id="div525" class="col_green">12 / 12</div>
        <div id="div526" class="col_white"> </div>
        <div id="div527" class="col_green">10 / 10</div>  <!-- first column -->
        <div id="div528" class="col_white"> </div>
        <div id="div529" class="col_green">14 / 14</div>
        <div id="div530" class="col_white"> </div>
    </section>

    <h4> Departmental Updates</h4>

    <section id="departments">
        <div id="div1"> <%= moment().format('MM/DD/YY'); %> </div>  <!-- first column -->
        <div id="div2" class="amShift">6:00 AM</div>  <!-- Pulse Check time-->
        <div id="div3" class="amShift">8:00 AM</div>  <!-- Pulse Check time-->
        <div id="div4" class="amShift">11:00 AM</div>  <!-- Pulse Check time-->
        <div id="div5" class="amShift">1:00 PM</div>  <!-- Pulse Check time-->
        <div id="div6" class="pmShift">4:00 PM</div>  <!-- Pulse Check time-->
        <div id="div7" class="pmShift">7:00 PM</div>  <!-- Pulse Check time-->
        <div id="div8" class="pmShift">10:00 PM</div>  <!-- Pulse Check time-->
        <div id="div9"></div>  <!-- first column -->
        <div id="div10" class="target">Target</div>  <!-- GREEN column -->
        <div id="div11" class="actual">Actual</div>
        <div id="div12" class="target">Target</div>
        <div id="div13" class="actual">Actual</div>
        <div id="div14" class="target">Target</div>
        <div id="div15" class="actual">Actual</div>
        <div id="div16" class="target">Target</div>
        <div id="div17" class="actual">Actual</div>
        <div id="div18" class="target">Target</div>
        <div id="div19" class="actual">Actual</div>
        <div id="div20" class="target">Target</div>
        <div id="div21" class="actual">Actual</div>
        <div id="div22" class="target">Target</div>
        <div id="div23" class="actual">Actual</div>
        <div id="div24"> Dock </div>  <!-- first column -->
        <div id="div25" class="col_green">08:00</div>  <!-- GREEN column -->
        <div id="div26" class="col_white"> </div>
        <div id="div27" class="col_green">10:00 </div>
        <div id="div28" class="col_white"> </div>
        <div id="div29" class="col_green">11:00</div>
        <div id="div30" class="col_white"> </div>
        <div id="div31" class="col_green">13:00</div>
        <div id="div32" class="col_white"> </div>
        <div id="div33" class="col_green">16:00</div>
        <div id="div34" class="col_white"> </div>
        <div id="div35" class="col_green">19:00</div>
        <div id="div36" class="col_white"> </div>
        <div id="div37" class="col_green">22:00</div>
        <div id="div38" class="col_white"> </div>
        <div id="div39"> Make & Pack </div>   <!-- first column -->  
        <div id="div40" class="col_green">13:00</div>  <!-- GREEN column -->
        <div id="div41" class="col_white"> </div>
        <div id="div42" class="col_green">14:00</div>
        <div id="div43" class="col_white"> </div>
        <div id="div44" class="col_green">18:00</div>
        <div id="div45" class="col_white"> </div>
        <div id="div46" class="col_green">20:00</div>
        <div id="div47" class="col_white"> </div>
        <div id="div48" class="col_green">05:00</div>
        <div id="div49" class="col_white"> </div>
        <div id="div50" class="col_green">09:00</div>
        <div id="div51" class="col_white"> </div>
        <div id="div52" class="col_green">12:00</div>
        <div id="div53" class="col_white"> </div>
        <div id="div54"> Pick & Pack </div>   <!-- first column -->
        <div id="div55" class="col_green">13:00</div>  <!-- GREEN column -->
        <div id="div56" class="col_white"> </div>
        <div id="div57" class="col_green">14:00</div>
        <div id="div58" class="col_white"> </div>
        <div id="div59" class="col_green">18:00</div>
        <div id="div60" class="col_white"> </div>
        <div id="div61" class="col_green">20:00</div>
        <div id="div62" class="col_white"> </div>
        <div id="div63" class="col_green">05:00</div>
        <div id="div64" class="col_white"> </div>
        <div id="div65" class="col_green">09:00</div>
        <div id="div66" class="col_white"> </div>
        <div id="div67" class="col_green">13:00</div>
        <div id="div68" class="col_white"> </div>
        <div id="div69"> Wash & Pack </div>   <!-- first column -->
        <div id="div70" class="col_green">13:00</div>  <!-- GREEN column -->
        <div id="div71" class="col_white"> </div>
        <div id="div72" class="col_green">17:00</div>
        <div id="div73" class="col_white"> </div>
        <div id="div74" class="col_green">20:00</div>
        <div id="div75" class="col_white"> </div>
        <div id="div76" class="col_green">22:00</div>
        <div id="div77" class="col_white"> </div>
        <div id="div78" class="col_green">08:00</div>
        <div id="div79" class="col_white"> </div>
        <div id="div80" class="col_green">11:00</div>
        <div id="div81" class="col_white"> </div>
        <div id="div82" class="col_green">13:00</div>
        <div id="div83" class="col_white"> </div>
        <div id="div84"> Seal </div>  <!-- first column -->
        <div id="div85" class="col_green">10:00</div>  <!-- GREEN column -->
        <div id="div86" class="col_white"> </div>
        <div id="div87" class="col_green">12:00</div>
        <div id="div88" class="col_white"> </div>
        <div id="div89" class="col_green">15:00</div>
        <div id="div90" class="col_white"> </div>
        <div id="div91" class="col_green">17:00</div>
        <div id="div92" class="col_white"> </div>
        <div id="div93" class="col_green">20:00</div>
        <div id="div94" class="col_white"> </div>
        <div id="div95" class="col_green">20:00</div>
        <div id="div96" class="col_white"> </div>
        <div id="div97" class="col_green">10:00</div>
        <div id="div98" class="col_white"> </div>
        <div id="div99"> Transportation </div>  <!-- first column -->
        <div id="div100" class="col_green">09:00</div>  <!-- GREEN column -->
        <div id="div101" class="col_white"> </div>
        <div id="div102" class="col_green">11:00</div>
        <div id="div103" class="col_white"> </div>
        <div id="div104" class="col_green">14:00</div>
        <div id="div105" class="col_white"> </div>
        <div id="div106" class="col_green">15:00</div>
        <div id="div107" class="col_white"> </div>
        <div id="div108" class="col_green">15:00</div>
        <div id="div109" class="col_white"> </div>
        <div id="div110" class="col_green">18:00</div>
        <div id="div111" class="col_white"> </div>
        <div id="div112" class="col_green">18:00</div>
        <div id="div113" class="col_white"> </div>
    </section>

<h4>Check Points</h4>

    <section id="checkPoints">
        <div id="div201">Supply Room Delivery</div>  <!-- first column -->
        <div id="div202" class="col_green"> </div>  <!-- GREEN column -->
        <div id="div203" class="col_white"> </div>
        <div id="div204" class="col_green"> </div>
        <div id="div205" class="col_white"> </div>
        <div id="div206" class="col_green"> </div>
        <div id="div207" class="col_white"> </div>
        <div id="div208" class="col_green"> </div>
        <div id="div209" class="col_white"> </div>
        <div id="div210" class="col_green"> </div>
        <div id="div211" class="col_white"> </div>
        <div id="div212" class="col_green"> </div>
        <div id="div213" class="col_white"> </div>
        <div id="div214" class="col_green"> </div>
        <div id="div215" class="col_white"> </div>
        <div id="div216">501 Delivery</div>  <!-- first column -->
        <div id="div217" class="col_green"> </div>  <!-- GREEN column -->
        <div id="div218" class="col_white"> </div>
        <div id="div219" class="col_green"> </div>
        <div id="div220" class="col_white"> </div>
        <div id="div221" class="col_green"> </div>
        <div id="div222" class="col_white"> </div>
        <div id="div223" class="col_green"> </div>
        <div id="div224" class="col_white"> </div>
        <div id="div225" class="col_green"> </div>
        <div id="div226" class="col_white"> </div>
        <div id="div227" class="col_green"> </div>
        <div id="div228" class="col_white"> </div>
        <div id="div229" class="col_green"> </div>
        <div id="div230" class="col_white"> </div>
        <div id="div231">Icer</div>  <!-- first column -->
        <div id="div232" class="col_green"> </div>  <!-- GREEN column -->
        <div id="div233" class="col_white"> </div>
        <div id="div234" class="col_green"> </div>
        <div id="div235" class="col_white"> </div>
        <div id="div236" class="col_green"> </div>
        <div id="div237" class="col_white"> </div>
        <div id="div238" class="col_green"> </div>
        <div id="div239" class="col_white"> </div>
        <div id="div240" class="col_green"> </div>
        <div id="div241" class="col_white"> </div>
        <div id="div242" class="col_green"> </div>
        <div id="div243" class="col_white"> </div>
        <div id="div244" class="col_green"> </div>
        <div id="div245" class="col_white"> </div>
        <div id="div246">Flight Checker</div>  <!-- first column -->
        <div id="div247" class="col_green"> </div>  <!-- GREEN column -->
        <div id="div248" class="col_white"> </div>
        <div id="div249" class="col_green"> </div>
        <div id="div250" class="col_white"> </div>
        <div id="div251" class="col_green"> </div>
        <div id="div252" class="col_white"> </div>
        <div id="div253" class="col_green"> </div>
        <div id="div254" class="col_white"> </div>
        <div id="div255" class="col_green"> </div>
        <div id="div256" class="col_white"> </div>
        <div id="div257" class="col_green"> </div>
        <div id="div258" class="col_white"> </div>
        <div id="div259" class="col_green"> </div>
        <div id="div260" class="col_white"> </div>
        <div id="div261">QCP</div>  <!-- first column -->
        <div id="div262" class="col_green"> </div>  <!-- GREEN column -->
        <div id="div263" class="col_white"> </div>
        <div id="div264" class="col_green"> </div>
        <div id="div265" class="col_white"> </div>
        <div id="div266" class="col_green"> </div>
        <div id="div267" class="col_white"> </div>
        <div id="div268" class="col_green"> </div>
        <div id="div269" class="col_white"> </div>
        <div id="div270" class="col_green"> </div>
        <div id="div271" class="col_white"> </div>
        <div id="div272" class="col_green"> </div>
        <div id="div273" class="col_white"> </div>
        <div id="div274" class="col_green"> </div>
        <div id="div275" class="col_white"> </div>
        <div id="div276">M&P IDS</div>  <!-- first column -->
        <div id="div277" class="col_green"> </div>  <!-- GREEN column -->
        <div id="div278" class="col_white"> </div>
        <div id="div279" class="col_green"> </div>
        <div id="div280" class="col_white"> </div>
        <div id="div281" class="col_green"> </div>
        <div id="div282" class="col_white"> </div>
        <div id="div283" class="col_green"> </div>
        <div id="div284" class="col_white"> </div>
        <div id="div285" class="col_green"> </div>
        <div id="div286" class="col_white"> </div>
        <div id="div287" class="col_green"> </div>
        <div id="div288" class="col_white"> </div>
        <div id="div289" class="col_green"> </div>
        <div id="div290" class="col_white"> </div>
        <div id="div291">Trucks In Service</div>  <!-- first column -->
        <div id="div292" class="col_green">34 / 34 </div>  <!-- GREEN column -->
        <div id="div293" class="col_white"># / 34</div>
        <div id="div294" class="col_green">34 / 34</div>
        <div id="div295" class="col_white"># / 34</div>
        <div id="div296" class="col_green">34 / 34</div>
        <div id="div297" class="col_white"># / 34</div>
        <div id="div298" class="col_green">34 / 34</div>
        <div id="div299" class="col_white"># / 34</div>
        <div id="div300" class="col_green">34 / 34</div>
        <div id="div301" class="col_white"># / 34</div>
        <div id="div302" class="col_green">34 / 34</div>
        <div id="div303" class="col_white"># / 34</div>
        <div id="div304" class="col_green">34 / 34</div>
        <div id="div305" class="col_white"># / 34</div>
        <div id="div306">Supply Truck</div>  <!-- first column -->
        <div id="div307" class="col_green"> </div>  <!-- GREEN column -->
        <div id="div308" class="col_white"> </div>
        <div id="div309" class="col_green"> </div>
        <div id="div310" class="col_white"> </div>
        <div id="div311" class="col_green"> </div>
        <div id="div312" class="col_white"> </div>
        <div id="div313" class="col_green"> </div>
        <div id="div314" class="col_white"> </div>
        <div id="div315" class="col_green"> </div>
        <div id="div316" class="col_white"> </div>
        <div id="div317" class="col_green"> </div>
        <div id="div318" class="col_white"> </div>
        <div id="div319" class="col_green"> </div>
        <div id="div320" class="col_white"> </div>
        <div id="div321">Ramp Exchange Truck</div>  <!-- first column -->
        <div id="div322" class="col_green"> </div>  <!-- GREEN column -->
        <div id="div323" class="col_white"> </div>
        <div id="div324" class="col_green"> </div>
        <div id="div325" class="col_white"> </div>
        <div id="div326" class="col_green"> </div>
        <div id="div327" class="col_white"> </div>
        <div id="div328" class="col_green"> </div>
        <div id="div329" class="col_white"> </div>
        <div id="div330" class="col_green"> </div>
        <div id="div331" class="col_white"> </div>
        <div id="div332" class="col_green"> </div>
        <div id="div333" class="col_white"> </div>
        <div id="div334" class="col_green"> </div>
        <div id="div335" class="col_white"> </div>
        <div id="div336">Temp Ice Trailer</div>  <!-- first column -->
        <div id="div337" class="col_green"> </div>  <!-- GREEN column -->
        <div id="div338" class="col_white"> </div>
        <div id="div339" class="col_green"> </div>
        <div id="div340" class="col_white"> </div>
        <div id="div341" class="col_green"> </div>
        <div id="div342" class="col_white"> </div>
        <div id="div343" class="col_green"> </div>
        <div id="div344" class="col_white"> </div>
        <div id="div345" class="col_green"> </div>
        <div id="div346" class="col_white"> </div>
        <div id="div347" class="col_green"> </div>
        <div id="div348" class="col_white"> </div>
        <div id="div349" class="col_green"> </div>
        <div id="div350" class="col_white"> </div>
        <div id="div351">Temp Coolers</div>  <!-- first column -->
        <div id="div352" class="col_green"> </div>  <!-- GREEN column -->
        <div id="div353" class="col_white"> </div>
        <div id="div354" class="col_green"> </div>
        <div id="div355" class="col_white"> </div>
        <div id="div356" class="col_green"> </div>
        <div id="div357" class="col_white"> </div>
        <div id="div358" class="col_green"> </div>
        <div id="div359" class="col_white"> </div>
        <div id="div360" class="col_green"> </div>
        <div id="div361" class="col_white"> </div>
        <div id="div362" class="col_green"> </div>
        <div id="div363" class="col_white"> </div>
        <div id="div364" class="col_green"> </div>
        <div id="div365" class="col_white"> </div>
    </section>
</body>

<%- include("partials/footer") %>