<%- include('partials/head') %>
<%- include('partials/header') %>

  <body>
    <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <% messages.info.forEach(
      el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %> <% } %>
    <div class="login-page">
      <div class="form">
        <form action="/signup" method="POST" class="register-form">
          <input type="text" name="firstName" placeholder="First Name" />
          <input type="text" name="lastName" placeholder="Last Name" />
          <input type="text" name="userName" placeholder="User Name" />
          <input type="email" name="email" placeholder="Email" />
          <input type="password" name="password" placeholder="Password" />
          <input type="password" name="confirmPassword" placeholder="Confirm Password"/>
          <select name="department" id="department"  >
            <option value="AM - Make & Pack">AM - Make & Pack</option>
            <option value="AM - Pick & Pack">AM - Pick & Pack</option>
            <option value="AM - Wash & Pack">AM - Wash & Pack</option>
            <option value="AM - Dock">AM - Dock</option>
            <option value="AM - Seal">AM - Seal</option>
            <option value="AM - Transportation">AM - Transportation</option> 
            <option value="AM - MoD">AM - Manager on Duty</option>
            <option value="PM - Make & Pack">PM - Make & Pack</option>
            <option value="PM - Pick & Pack">PM - Pick & Pack</option>
            <option value="PM - Wash & Pack">PM - Wash & Pack</option>
            <option value="PM - Dock">PM - Dock</option>
            <option value="PM - Seal">PM - Seal</option>
            <option value="PM - Transportation">PM - Transportation</option>
            <option value="PM - MoD">PM - Manager on Duty</option>
          </select> 
          <button>Submit</button>
          <p class="message">Already registered? <a>Sign In</a></p>
        </form>

        <form action="/login" method="POST" class="login-form">
          <input type="email" name="email" placeholder="Email" />
          <input type="password" name="password" placeholder="Password" />
          <button>login</button>
          <p class="message">Not registered? <a>Create an account</a></p>
        </form>
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
