<%- include('partials/head', {title :'--- Weight Tracker 3000 ---'}) %>
<%- include('partials/header') %>
  <body>
    <div class="login-page">
      <div class="form">
        <form action="/signup" method="POST" class="register-form">
          <input type="text" name="userName" placeholder="User Name" />
          <input type="email" name="email" placeholder="Email" />
          <input type="password" name="password" placeholder="Password" />
          <input type="password" name="confirmPassword" placeholder="Confirm Password"/>
          <input type="initialWeight" name="initialWeight" placeholder="What is your current Weight?"/>
          <input type="goalWeight" name="goalWeight" placeholder="What is your Goal Weight?"/>
          <input type="age" name="age" placeholder="How old are you?" />
          <button>Submit</button>
          <p class="message">Already registered? <a>Sign In</a></p>
        </form>

        <form action="/login" method="POST" class="login-form">
          <input type="email" name="email" placeholder="Email" />
          <input type="password" name="password" placeholder="Password" />
          <button>login</button>
          <p class="message">Not registered? <a>Create an account</a></p>
        </form>
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
