<%- include('partials/head') %>
<%- include('partials/header') %>

  <body>
    <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
    <div class="alert alert-danger"><%= el.msg %></div>
    <% }) %> <% } %>
    
    <form action="/signup" method="POST">
      <input type="text" name="userName" placeholder="User Name" />
      <input type="email" name="email" placeholder="Email" />
      <input type="password" name="password" placeholder="Password" />
      <input type="password" name="confirmPassword" placeholder="Confirm Password"  />
      <label>What is your current department?</label>
        <select name="department" id="department" >
            <option value="Make & Pack">Make & Pack</option>
            <option value="Pick & Pack">Pick & Pack</option>
            <option value="Wash & Pack">Wash & Pack</option>
            <option value="Dock">Dock</option>
            <option value="Transportation">Transportation</option>
            <option value="Seal">Seal</option>
          </select> 
        <label>What shift are you on?</label>
        <select name="shift" id="shift" >
            <option value="AM">AM</option>
            <option value="PM">PM</option>
        </select> 
      <input type="submit" />
    </form>
  </body>

<%- include('partials/footer') %>