h1 {
  color: black;
}

ul > li {
  display: inline-block;
}
.container1 {
  position: relative;
  z-index: 1;
  max-width: 100%;
  height: 10%;
}
/* grid set up begin*/

.parent {
  height: 20vh;
  background: #002855;
  display: grid;
  grid-template-columns: 0.5fr repeat(14, 0.25fr);
  grid-template-rows: repeat(8, 0.25fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  }    
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 4; }
.div3 { grid-area: 1 / 4 / 2 / 6; }
.div4 { grid-area: 1 / 6 / 2 / 8; }
.div5 { grid-area: 1 / 8 / 2 / 10; }
.div6 { grid-area: 1 / 10 / 2 / 12; }
.div7 { grid-area: 1 / 12 / 2 / 14; }
.div8 { grid-area: 1 / 14 / 2 / 16; }
.div9 { grid-area: 2 / 1 / 3 / 2; }
.div10 { grid-area: 2 / 2 / 3 / 3; }
.div11 { grid-area: 2 / 3 / 3 / 4; }
.div12 { grid-area: 2 / 4 / 3 / 5; }
.div13 { grid-area: 2 / 5 / 3 / 6; }
.div14 { grid-area: 2 / 6 / 3 / 7; }
.div15 { grid-area: 2 / 7 / 3 / 8; }
.div16 { grid-area: 2 / 8 / 3 / 9; }
.div17 { grid-area: 2 / 9 / 3 / 10; }
.div18 { grid-area: 2 / 10 / 3 / 11; }
.div19 { grid-area: 2 / 11 / 3 / 12; }
.div20 { grid-area: 2 / 12 / 3 / 13; }
.div21 { grid-area: 2 / 13 / 3 / 14; }
.div22 { grid-area: 2 / 14 / 3 / 15; }
.div23 { grid-area: 2 / 15 / 3 / 16; }
.div24 { grid-area: 3 / 1 / 4 / 2; }
.div25 { grid-area: 3 / 2 / 4 / 3; }
.div26 { grid-area: 3 / 2 / 4 / 3; }
.div27 { grid-area: 3 / 3 / 4 / 4; }
.div28 { grid-area: 3 / 4 / 4 / 5; }
.div29 { grid-area: 3 / 5 / 4 / 6; }
.div30 { grid-area: 3 / 6 / 4 / 7; }
.div31 { grid-area: 3 / 7 / 4 / 8; }
.div32 { grid-area: 3 / 8 / 4 / 9; }
.div33 { grid-area: 3 / 9 / 4 / 10; }
.div34 { grid-area: 3 / 10 / 4 / 11; }
.div35 { grid-area: 3 / 11 / 4 / 12; }
.div36 { grid-area: 3 / 12 / 4 / 13; }
.div37 { grid-area: 3 / 13 / 4 / 14; }
.div38 { grid-area: 3 / 14 / 4 / 15; }
.div39 { grid-area: 3 / 15 / 4 / 16; }
.div40 { grid-area: 4 / 1 / 5 / 2; }
.div41 { grid-area: 4 / 2 / 5 / 3; }
.div42 { grid-area: 4 / 3 / 5 / 4; }
.div43 { grid-area: 4 / 4 / 5 / 5; }
.div44 { grid-area: 4 / 5 / 5 / 6; }
.div45 { grid-area: 4 / 6 / 5 / 7; }
.div46 { grid-area: 4 / 7 / 5 / 8; }
.div47 { grid-area: 4 / 8 / 5 / 9; }
.div48 { grid-area: 4 / 9 / 5 / 10; }
.div49 { grid-area: 4 / 10 / 5 / 11; }
.div50 { grid-area: 4 / 11 / 5 / 12; }
.div51 { grid-area: 4 / 12 / 5 / 13; }
.div52 { grid-area: 4 / 13 / 5 / 14; }
.div53 { grid-area: 4 / 14 / 5 / 15; }
.div54 { grid-area: 4 / 15 / 5 / 16; }
.div55 { grid-area: 5 / 1 / 6 / 2; }
.div56 { grid-area: 5 / 2 / 6 / 3; }
.div57 { grid-area: 5 / 3 / 6 / 4; }
.div58 { grid-area: 5 / 4 / 6 / 5; }
.div59 { grid-area: 5 / 5 / 6 / 6; }
.div60 { grid-area: 5 / 6 / 6 / 7; }
.div61 { grid-area: 5 / 7 / 6 / 8; }
.div62 { grid-area: 5 / 8 / 6 / 9; }
.div63 { grid-area: 5 / 9 / 6 / 10; }
.div64 { grid-area: 5 / 10 / 6 / 11; }
.div65 { grid-area: 5 / 11 / 6 / 12; }
.div66 { grid-area: 5 / 12 / 6 / 13; }
.div67 { grid-area: 5 / 13 / 6 / 14; }
.div68 { grid-area: 5 / 14 / 6 / 15; }
.div69 { grid-area: 5 / 15 / 6 / 16; }
.div70 { grid-area: 6 / 1 / 7 / 2; }
.div71 { grid-area: 6 / 2 / 7 / 3; }
.div72 { grid-area: 6 / 3 / 7 / 4; }
.div73 { grid-area: 6 / 4 / 7 / 5; }
.div74 { grid-area: 6 / 5 / 7 / 6; }
.div75 { grid-area: 6 / 6 / 7 / 7; }
.div76 { grid-area: 6 / 7 / 7 / 8; }
.div77 { grid-area: 6 / 8 / 7 / 9; }
.div78 { grid-area: 6 / 9 / 7 / 10; }
.div79 { grid-area: 6 / 10 / 7 / 11; }
.div80 { grid-area: 6 / 11 / 7 / 12; }
.div81 { grid-area: 6 / 12 / 7 / 13; }
.div82 { grid-area: 6 / 13 / 7 / 14; }
.div83 { grid-area: 6 / 14 / 7 / 15; }
.div84 { grid-area: 6 / 15 / 7 / 16; }
.div85 { grid-area: 7 / 1 / 8 / 2; }
.div86 { grid-area: 7 / 2 / 8 / 3; }
.div87 { grid-area: 7 / 3 / 8 / 4; }
.div88 { grid-area: 7 / 4 / 8 / 5; }
.div89 { grid-area: 7 / 5 / 8 / 6; }
.div90 { grid-area: 7 / 6 / 8 / 7; }
.div91 { grid-area: 7 / 7 / 8 / 8; }
.div92 { grid-area: 7 / 8 / 8 / 9; }
.div93 { grid-area: 7 / 9 / 8 / 10; }
.div94 { grid-area: 7 / 10 / 8 / 11; }
.div95 { grid-area: 7 / 11 / 8 / 12; }
.div96 { grid-area: 7 / 12 / 8 / 13; }
.div97 { grid-area: 7 / 13 / 8 / 14; }
.div98 { grid-area: 7 / 14 / 8 / 15; }
.div99 { grid-area: 7 / 15 / 8 / 16; }
.div100 { grid-area: 8 / 1 / 9 / 2; }
.div101 { grid-area: 8 / 2 / 9 / 3; }
.div102 { grid-area: 8 / 3 / 9 / 4; }
.div103 { grid-area: 8 / 4 / 9 / 5; }
.div104 { grid-area: 8 / 5 / 9 / 6; }
.div105 { grid-area: 8 / 6 / 9 / 7; }
.div106 { grid-area: 8 / 7 / 9 / 8; }
.div107 { grid-area: 8 / 8 / 9 / 9; }
.div108 { grid-area: 8 / 9 / 9 / 10; }
.div109 { grid-area: 8 / 10 / 9 / 11; }
.div110 { grid-area: 8 / 11 / 9 / 12; }
.div111 { grid-area: 8 / 12 / 9 / 13; }
.div112 { grid-area: 8 / 13 / 9 / 14; }
.div113 { grid-area: 8 / 14 / 9 / 15; }
.div114 { grid-area: 8 / 15 / 9 / 16; }

/* End grind layout */


/*  Grid lay out 2 start  */

.parent2 {
  height: 30vh;
  background: rgb(51, 0, 51);
  display: grid;
  grid-template-columns: 0.75fr repeat(14, 0.5fr);
  grid-template-rows: repeat(11, 0.25fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  }
  
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; }
.div5 { grid-area: 1 / 5 / 2 / 6; }
.div6 { grid-area: 1 / 6 / 2 / 7; }
.div7 { grid-area: 1 / 7 / 2 / 8; }
.div8 { grid-area: 1 / 8 / 2 / 9; }
.div9 { grid-area: 1 / 9 / 2 / 10; }
.div10 { grid-area: 1 / 10 / 2 / 11; }
.div11 { grid-area: 1 / 11 / 2 / 12; }
.div12 { grid-area: 1 / 12 / 2 / 13; }
.div13 { grid-area: 1 / 13 / 2 / 14; }
.div14 { grid-area: 1 / 14 / 2 / 15; }
.div15 { grid-area: 1 / 15 / 2 / 16; }
.div16 { grid-area: 2 / 1 / 3 / 2; }
.div17 { grid-area: 2 / 2 / 3 / 3; }
.div18 { grid-area: 2 / 3 / 3 / 4; }
.div19 { grid-area: 2 / 4 / 3 / 5; }
.div20 { grid-area: 2 / 5 / 3 / 6; }
.div21 { grid-area: 2 / 6 / 3 / 7; }
.div22 { grid-area: 2 / 7 / 3 / 8; }
.div23 { grid-area: 2 / 8 / 3 / 9; }
.div24 { grid-area: 2 / 9 / 3 / 10; }
.div25 { grid-area: 2 / 10 / 3 / 11; }
.div26 { grid-area: 2 / 11 / 3 / 12; }
.div27 { grid-area: 2 / 12 / 3 / 13; }
.div28 { grid-area: 2 / 13 / 3 / 14; }
.div29 { grid-area: 2 / 14 / 3 / 15; }
.div30 { grid-area: 2 / 15 / 3 / 16; }
.div31 { grid-area: 3 / 1 / 4 / 2; }
.div32 { grid-area: 3 / 2 / 4 / 3; }
.div33 { grid-area: 3 / 3 / 4 / 4; }
.div34 { grid-area: 3 / 4 / 4 / 5; }
.div35 { grid-area: 3 / 5 / 4 / 6; }
.div36 { grid-area: 3 / 6 / 4 / 7; }
.div37 { grid-area: 3 / 7 / 4 / 8; }
.div38 { grid-area: 3 / 8 / 4 / 9; }
.div39 { grid-area: 3 / 9 / 4 / 10; }
.div40 { grid-area: 3 / 10 / 4 / 11; }
.div41 { grid-area: 3 / 11 / 4 / 12; }
.div42 { grid-area: 3 / 12 / 4 / 13; }
.div43 { grid-area: 3 / 13 / 4 / 14; }
.div44 { grid-area: 3 / 14 / 4 / 15; }
.div45 { grid-area: 3 / 15 / 4 / 16; }
.div46 { grid-area: 4 / 1 / 5 / 2; }
.div47 { grid-area: 4 / 2 / 5 / 3; }
.div48 { grid-area: 4 / 3 / 5 / 4; }
.div49 { grid-area: 4 / 4 / 5 / 5; }
.div50 { grid-area: 4 / 5 / 5 / 6; }
.div51 { grid-area: 4 / 6 / 5 / 7; }
.div52 { grid-area: 4 / 7 / 5 / 8; }
.div53 { grid-area: 4 / 8 / 5 / 9; }
.div54 { grid-area: 4 / 9 / 5 / 10; }
.div55 { grid-area: 4 / 10 / 5 / 11; }
.div56 { grid-area: 4 / 11 / 5 / 12; }
.div57 { grid-area: 4 / 12 / 5 / 13; }
.div58 { grid-area: 4 / 13 / 5 / 14; }
.div59 { grid-area: 4 / 14 / 5 / 15; }
.div60 { grid-area: 4 / 15 / 5 / 16; }
.div61 { grid-area: 5 / 1 / 6 / 2; }
.div62 { grid-area: 5 / 2 / 6 / 3; }
.div63 { grid-area: 5 / 3 / 6 / 4; }
.div64 { grid-area: 5 / 4 / 6 / 5; }
.div65 { grid-area: 5 / 5 / 6 / 6; }
.div66 { grid-area: 5 / 6 / 6 / 7; }
.div67 { grid-area: 5 / 7 / 6 / 8; }
.div68 { grid-area: 5 / 8 / 6 / 9; }
.div69 { grid-area: 5 / 9 / 6 / 10; }
.div70 { grid-area: 5 / 10 / 6 / 11; }
.div71 { grid-area: 5 / 11 / 6 / 12; }
.div72 { grid-area: 5 / 12 / 6 / 13; }
.div73 { grid-area: 5 / 13 / 6 / 14; }
.div74 { grid-area: 5 / 14 / 6 / 15; }
.div75 { grid-area: 5 / 15 / 6 / 16; }
.div76 { grid-area: 6 / 1 / 7 / 2; }
.div77 { grid-area: 6 / 2 / 7 / 3; }
.div78 { grid-area: 6 / 3 / 7 / 4; }
.div79 { grid-area: 6 / 4 / 7 / 5; }
.div80 { grid-area: 6 / 5 / 7 / 6; }
.div81 { grid-area: 6 / 6 / 7 / 7; }
.div82 { grid-area: 6 / 7 / 7 / 8; }
.div83 { grid-area: 6 / 8 / 7 / 9; }
.div84 { grid-area: 6 / 9 / 7 / 10; }
.div85 { grid-area: 6 / 10 / 7 / 11; }
.div86 { grid-area: 6 / 11 / 7 / 12; }
.div87 { grid-area: 6 / 12 / 7 / 13; }
.div88 { grid-area: 6 / 13 / 7 / 14; }
.div89 { grid-area: 6 / 14 / 7 / 15; }
.div90 { grid-area: 6 / 15 / 7 / 16; }
.div91 { grid-area: 7 / 1 / 8 / 2; }
.div92 { grid-area: 7 / 2 / 8 / 3; }
.div93 { grid-area: 7 / 3 / 8 / 4; }
.div94 { grid-area: 7 / 4 / 8 / 5; }
.div95 { grid-area: 7 / 5 / 8 / 6; }
.div96 { grid-area: 7 / 6 / 8 / 7; }
.div97 { grid-area: 7 / 7 / 8 / 8; }
.div98 { grid-area: 7 / 8 / 8 / 9; }
.div99 { grid-area: 7 / 9 / 8 / 10; }
.div100 { grid-area: 7 / 10 / 8 / 11; }
.div101 { grid-area: 7 / 11 / 8 / 12; }
.div102 { grid-area: 7 / 12 / 8 / 13; }
.div103 { grid-area: 7 / 13 / 8 / 14; }
.div104 { grid-area: 7 / 14 / 8 / 15; }
.div105 { grid-area: 7 / 15 / 8 / 16; }
.div106 { grid-area: 8 / 1 / 9 / 2; }
.div107 { grid-area: 8 / 2 / 9 / 3; }
.div108 { grid-area: 8 / 3 / 9 / 4; }
.div109 { grid-area: 8 / 4 / 9 / 5; }
.div110 { grid-area: 8 / 5 / 9 / 6; }
.div111 { grid-area: 8 / 6 / 9 / 7; }
.div112 { grid-area: 8 / 7 / 9 / 8; }
.div113 { grid-area: 8 / 8 / 9 / 9; }
.div114 { grid-area: 8 / 9 / 9 / 10; }
.div115 { grid-area: 8 / 10 / 9 / 11; }
.div116 { grid-area: 8 / 11 / 9 / 12; }
.div117 { grid-area: 8 / 12 / 9 / 13; }
.div118 { grid-area: 8 / 13 / 9 / 14; }
.div119 { grid-area: 8 / 14 / 9 / 15; }
.div120 { grid-area: 8 / 15 / 9 / 16; }
.div121 { grid-area: 9 / 1 / 10 / 2; }
.div122 { grid-area: 9 / 2 / 10 / 3; }
.div123 { grid-area: 9 / 3 / 10 / 4; }
.div124 { grid-area: 9 / 4 / 10 / 5; }
.div125 { grid-area: 9 / 5 / 10 / 6; }
.div126 { grid-area: 9 / 6 / 10 / 7; }
.div127 { grid-area: 9 / 7 / 10 / 8; }
.div128 { grid-area: 9 / 8 / 10 / 9; }
.div129 { grid-area: 9 / 9 / 10 / 10; }
.div130 { grid-area: 9 / 10 / 10 / 11; }
.div131 { grid-area: 9 / 11 / 10 / 12; }
.div132 { grid-area: 9 / 12 / 10 / 13; }
.div133 { grid-area: 9 / 13 / 10 / 14; }
.div134 { grid-area: 9 / 14 / 10 / 15; }
.div135 { grid-area: 9 / 15 / 10 / 16; }
.div136 { grid-area: 10 / 1 / 11 / 2; }
.div137 { grid-area: 10 / 2 / 11 / 3; }
.div138 { grid-area: 10 / 3 / 11 / 4; }
.div139 { grid-area: 10 / 4 / 11 / 5; }
.div140 { grid-area: 10 / 5 / 11 / 6; }
.div141 { grid-area: 10 / 6 / 11 / 7; }
.div142 { grid-area: 10 / 7 / 11 / 8; }
.div143 { grid-area: 10 / 8 / 11 / 9; }
.div144 { grid-area: 10 / 9 / 11 / 10; }
.div145 { grid-area: 10 / 10 / 11 / 11; }
.div146 { grid-area: 10 / 11 / 11 / 12; }
.div147 { grid-area: 10 / 12 / 11 / 13; }
.div148 { grid-area: 10 / 13 / 11 / 14; }
.div149 { grid-area: 10 / 14 / 11 / 15; }
.div150 { grid-area: 10 / 15 / 11 / 16; }
.div151 { grid-area: 11 / 1 / 12 / 2; }
.div152 { grid-area: 11 / 2 / 12 / 3; }
.div153 { grid-area: 11 / 3 / 12 / 4; }
.div154 { grid-area: 11 / 4 / 12 / 5; }
.div155 { grid-area: 11 / 5 / 12 / 6; }
.div156 { grid-area: 11 / 6 / 12 / 7; }
.div157 { grid-area: 11 / 7 / 12 / 8; }
.div158 { grid-area: 11 / 8 / 12 / 9; }
.div159 { grid-area: 11 / 9 / 12 / 10; }
.div160 { grid-area: 11 / 10 / 12 / 11; }
.div161 { grid-area: 11 / 11 / 12 / 12; }
.div162 { grid-area: 11 / 12 / 12 / 13; }
.div163 { grid-area: 11 / 13 / 12 / 14; }
.div164 { grid-area: 11 / 14 / 12 / 15; }
.div165 { grid-area: 11 / 15 / 12 / 16; }

/* grid 2 end */

/* attendance grid start */
.parent3 {
  height: 25vh;
  width: 20vw;
  background: rgb(0, 87, 0);
  display: grid;
  grid-template-columns: repeat(4, 0.25fr);
  grid-template-rows: repeat(8, 0.25fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 3; }
  .div2 { grid-area: 1 / 3 / 2 / 5; }
  .div3 { grid-area: 2 / 1 / 3 / 2; }
  .div4 { grid-area: 2 / 2 / 3 / 3; }
  .div5 { grid-area: 2 / 3 / 3 / 4; }
  .div6 { grid-area: 2 / 4 / 3 / 5; }
  .div7 { grid-area: 3 / 1 / 4 / 2; }
  .div8 { grid-area: 3 / 2 / 4 / 3; }
  .div9 { grid-area: 3 / 3 / 4 / 4; }
  .div10 { grid-area: 3 / 4 / 4 / 5; }
  .div11 { grid-area: 4 / 1 / 5 / 2; }
  .div12 { grid-area: 4 / 2 / 5 / 3; }
  .div13 { grid-area: 4 / 3 / 5 / 4; }
  .div14 { grid-area: 4 / 4 / 5 / 5; }
  .div15 { grid-area: 5 / 1 / 6 / 2; }
  .div16 { grid-area: 5 / 2 / 6 / 3; }
  .div17 { grid-area: 5 / 3 / 6 / 4; }
  .div18 { grid-area: 5 / 4 / 6 / 5; }
  .div19 { grid-area: 6 / 1 / 7 / 2; }
  .div20 { grid-area: 6 / 2 / 7 / 3; }
  .div21 { grid-area: 6 / 3 / 7 / 4; }
  .div22 { grid-area: 6 / 4 / 7 / 5; }
  .div23 { grid-area: 7 / 1 / 8 / 2; }
  .div24 { grid-area: 7 / 2 / 8 / 3; }
  .div25 { grid-area: 7 / 3 / 8 / 4; }
  .div26 { grid-area: 7 / 4 / 8 / 5; }
  .div27 { grid-area: 8 / 1 / 9 / 2; }
  .div28 { grid-area: 8 / 2 / 9 / 3; }
  .div29 { grid-area: 8 / 3 / 9 / 4; }
  .div30 { grid-area: 8 / 4 / 9 / 5; }
.nav{
  width: 50%;
}

.completed {
  border: 1px solid rgb(90, 168, 45);
}

.not {
  border: 1px saddlebrown;
}

#signup {
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 15;
  height: 300px;
  width: 350px;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  background: DCDFE5; /* fallback for old browsers */
  background: rgb(204, 204, 204);
  background: linear-gradient(
    90deg, 
    rgba(220, 223, 229) 0%,
    rgb(176, 181, 191) 50%
  );
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: DCDFE5; /* fallback for old browsers */
  background: rgb(204, 204, 204);
  background: linear-gradient(
    90deg, 
    rgba(220, 223, 229) 0%,
    rgb(176, 181, 191) 50%
  );
}

/* Login form */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
input[type=date], select {
  width: 8%;
  padding: 6px 10px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=text], select {
  width: 8%;
  padding: 6px 10px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form input {
  font-family: 'Roboto', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #002855;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #0466C8;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #0353A4;
  text-decoration: none;
  cursor: pointer;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: '';
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #ef3b3a;
}
body {
  background: DCDFE5; /* fallback for old browsers */
  background: rgb(204, 204, 204);
  background: linear-gradient(
    90deg, 
    rgba(220, 223, 229) 0%,
    rgb(176, 181, 191) 50%
  );
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tracked-weights {
  width: 20em;
  display: flex;
  flex-direction: row;
  gap: 0.2em;
  flex-wrap: wrap;
}
/* 
.cell {
  width: 3em;
  height: 3em;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} */